@import './variables.scss';

.blurb{
  background-image: linear-gradient(178deg, rgba(255, 255, 255, 0) 20%, darken($background_colour, 60%) 20.3% 79.7%, rgba(255, 255, 255, 0) 80%);
  color: white;
  margin: -8em 0;
}

.alt{
  background-color: $background_colour;
  color: black;
}

.footer {
  background-color: white;

  .foot {
    background-color: darken($color: $background_colour, $amount: 75%);
    color: white;
  }
}

.collageImage{
  box-shadow: 5px 5px 5px -5px black;
}

@media only screen and (min-width: 1000px){
  
  .mcbutton{
    display: none
  }

  .dropMenu{
    top: 100%;
    border-radius: 8px;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: $background_colour;
  }
}