@import './variables.scss';


.dropMenuRow{
  top: 100%;
  height: 0;
  background-color: $background_colour;
  
    a{
  
      &:hover{
        background-color: $raisedBackgroundColour;
      }
    }
}

.navbarServices{

  &:hover{
    .dropMenuRow{
      @include dropMenuHover()
    }
  }
}

.navbarInformation{

  &:hover{
    .dropMenuRow{
      right: 5%;
      @include dropMenuHover()
    }
  }
}


.mobileNav{
  background: radial-gradient(circle at 100% 60%,  $background_colour 15.8%, rgba($background_colour, 0) 16%),
  radial-gradient(circle at -5% 70%, $background_colour 10%, rgba($background_colour, 0) 10.1%),
  radial-gradient(circle at 43% 30%, $background_colour 15%, rgba($background_colour, 0) 15.1%),
  radial-gradient(circle at 50% 0%,  rgba($background_colour, 0) 8.9%, $raisedBackgroundColour 9%),
}


.main {
  background: radial-gradient(circle at 100% 60%,  $background_colour 15.8%, rgba($background_colour, 0) 16%),
  radial-gradient(circle at -5% 70%, $background_colour 10%, rgba($background_colour, 0) 10.1%),
  radial-gradient(circle at 43% 30%, $background_colour 15%, rgba($background_colour, 0) 15.1%),
  radial-gradient(circle at 50% 0%,  rgba($background_colour, 0) 8.9%, $raisedBackgroundColour 9%),
}

.contactLinkBar{
  background-color: $analogusGreen;
}


.alt{
  background-color: $background_colour;
  color: black;
}

.footer {
  background: radial-gradient(circle at 88% 75%, darken($background_colour, 68%) 9.8%, rgba($background_colour, 0) 10%),
  radial-gradient(circle at 25% 25%, darken($background_colour, 63) 15.8%, darken($background_colour, 65%) 16%);
}

.newPatientsButtonLinkCard{
  color: white;
  background-color: darken($background_colour, 60%);
  
  a{
    background-color: $analogus2;
    color: black;
  }
}
